BasedOnStyle: LLVM
Language: Cpp
Standard: c++17
IndentWidth: 4
ContinuationIndentWidth: 4
ColumnLimit: 100
BreakBeforeBraces: Allman
NamespaceIndentation: None
PointerAlignment: Right
ReferenceAlignment: Right
SortIncludes: Never
AllowShortFunctionsOnASingleLine: InlineOnly
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
